
/*  colors  */

.today, .today a
{
	color: red;
}

.tomorrow, .tomorrow a
{
	color: #eb9900;
}

.someday, .someday a
{
	color: #4d4d4d;
}


/*  вёрстка  */

/*.card-detail-data, */
.window-cover, 
.icon-close,
.js-attachments-section,
.checklist-progress,
.js-confirm-delete,
.icon-checklist,
.window-header-icon,
.icon-subscribe
{
	display: none;
} 

.window
{
	display: block;
	width: 100% !important;
}


.window-main-col > div:nth-child(-n+3)
{
	display: none;
}

/* скрыть строчку с названием чеклиста и кнопками типа показать/скрыть отмеченные */
.window-module-title
{
   display: none;
}

/* скрыть подзаголовок «In list ...» */
.window-header-inline-content
{
   display: none;	
}

.window
{
	margin: 0;
	border-radius: 0;
	background-color: #ebe9db;
}

.marked
{
	background-color: #e8d9cc;	
}

.inactive
{
	opacity: 0.2;
}

.window-header
{
	/*
	padding: 0;
	padding-bottom: 10px;
	margin-left: 26px;	
	margin-right: 26px;
	margin-top: 10px;
		
	border-bottom: 2px solid #b0afa0;
	*/


	margin: 0;
    margin-top: -1px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 10px;
    padding-bottom: 4px;
    background: rgba(0, 0, 0, 0.05);
}

.window-main-col
{
	padding: 0;

	margin-left: 26px !important;	
	margin-right: 20px !important;		
	/*margin-top: 20px !important;*/
}


.checklist
{
	margin-bottom: 35px;
	
}
.checklist-list
{
	margin-top: 10px;	
	padding: 0;
}

.checklist-items-list
{
	margin-top: 0px;
	margin-left: -5px;
}

.checklist-item-checkbox
{
	left: 0;
	box-shadow: none;
}

.checklist-item
{
	padding-left: 30px !important;
	line-height: 1.2em;
	margin-bottom: -1px;
	font-size: 0.97em;
}

.checklist-item-menu-wrapper
{
	display: block;
    position: absolute;
    right: 0px;	
}

.checklist-item-details-text::after {
    content: none;
    width: 0;
    display: none;
}

.checklist-item-controls
{
	display: none !important;
}

.checklist-new-item
{
	margin-left: 0;
	margin-top: 4px;
}

.checklist-new-item button
{
	padding: 2px 26px;
    font-size: 0.85em;
}


.checklist-list.window-module
{
	margin-bottom: 100px;
}



/* Sublists */

.sublist /*div.checklist-item-details*/
{
	margin-left: 27px;
	padding-left: 27px !important;
}

.sublist .checklist-item-checkbox
{
	width: 13px;
	height: 13px;

	margin-top: 9px;
}





/*hide checkboxes for unhovered italic items*/

.italic .checklist-item-checkbox
{
	display: none;
}

.italic:hover .checklist-item-checkbox
{
	display: block;
}




.known-service-link
{
	padding: 0;
	background: none;
}




/*  Hide completed  */

.window-module-title-options
{
	float:none;
}

.checklist > div:nth-child(-n+1)
{
	padding: 0 !important;
	margin-left: 0 !important;
	
	
}

.window-module-title h3
{
	display: block;
}

.window-module-title-options a
{
	margin-left: 0 !important;
	margin-top: 4px !important;
}

.window-module-title-options
{
	margin-top: 4px;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

