<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Valera Popov</string>
	<key>Builder Version</key>
	<string>11601.7.7</string>
	<key>CFBundleDisplayName</key>
	<string>Trello To-do Notes</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.trelloscheduler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.7</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>bowser.min.js</string>
				<string>majic.js</string>
				<string>script.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Turns a bunch of Trello cards into a handy dashboard on your desktop</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>trello.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://readymag.com/valerypopoff/trello/</string>
</dict>
</plist>
